header {
  height: auto;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  overflow: hidden;
  background-image: url(../../assets/canvas.png);
  background-size: cover;
}

header p {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  text-align: left;
  top: 50%;
  color: purple;
  font-size: 3rem;
}

.header__container {
  text-align: center;
  top: 20%;
  color: #000000;
  height: 100vh;
}

/* ========== TEXT BOX CONTAINER ========== */
.textbox__container {
  text-align: left;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox__input {
  width: 800px; /* Adjust width as needed */
  height: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  resize: vertical;
  vertical-align: top; /* Ensure text starts at the top */
}

/* =========== HEADER IMAGE ========== */

.header__image {
  background: linear-gradient(#c9e7f3, transparent);
  display: block;
  margin-right: auto;
  padding: 4rem;
  top: 5%;
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  border-radius: 12rem 12rem 0 0;
  position: relative;
  overflow: hidden;
}

/* ================ HEADER SOCIALS ============== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 1rem;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== SCROLL DOWN ============= */
.scroll__down {
  position: absolute;
  right: -1.5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}
