.about {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.about__container {
  height: 100%;
  position: relative;
  color: var(--color-primary);
}

.about__title {
  font-family: "Oregano";
  text-align: center;
  margin-bottom: 2rem;
}

.about__subheading {
  margin-top: 3rem;
  font-family: "Oregano";
}

.about__body {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.about__rightcolumn {
  padding-left: 3rem;
}

.about__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
}

.about__p {
  padding-top: 2rem;
}
